<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Patient Monitoring - Device Update</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 style="text-align: center;">Patient Monitoring - Device Update</h1>
        <div class="container">
            <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
                <form onsubmit="sendPUTrequest()" >    
                    <div class="user_info">
                        <span class="details">Device ID:</span>
                        <input type="text" id="deviceID" required>
                        <span class="details">Name:</span>
                        <input type="text" id="name" required>
                        <span class="details">Measure Type:</span>
                        <p style="font-size:14px">
                            &#9432; Enter the list of available services. Your list must follow this format:
                            [temperature,oxygen saturation,ecc], so you have to divide elements with a comma.
                        </p>
                        <input type="text" id="measureType" required>
                        <span class="details">Available Services:</span>
                        <p style="font-size:14px">
                            &#9432; Enter the list of available services. Your list must follow this format:
                            [MQTT,REST,ecc], so you have to divide elements with a comma.
                        </p>
                        <input type="text" id="services" required>
                        <span class="details">Services details:</span>
                        <p style="font-size:14px" class="box_details">
                            &#9432; Enter the list of services details. Your list must follow this format:
                            [{"serviceType": "MQTT",
                                "serviceIP": "mqtt.mosquittos.org",
                                "topic": ["/bodytemperature"]}]
                        </p>
                        <textarea class="text_area" id="serviceDetails" required>
                        </textarea>
                        <input type="submit" value="Submit">
                    </div>
                </form>
        </div>
        <script>
                function sendPUTrequest() {
                    deviceID = $("#deviceID").val();
                    deviceName = $("#name").val();
                    measureType = $("#measureType").val();
                    availableServices = $("#services").val();
                    serviceDetails = $("#serviceDetails").val();
                    myurl = "/api/device";  
                    $.ajax({
                        method: "PUT",
                        url: myurl,
                        contentType: "application/json",
                        data: JSON.stringify({
                            deviceID: deviceID,
                            deviceName: deviceName,
                            measureType: measureType.split(","),
                            availableServices: availableServices.split(","),
                            serviceDetails: serviceDetails.split(",")
                        }),
                        dataType: "json",
                        complete: function (r) {
                            alert(r.responseText);
                            location.reload(); 
                        },
                    });
                }

        </script>

    </body>
</html>
