<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Patient Monitoring - Doctor</title>
    <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style= "text-align: center;">Patient Monitoring - Doctor Index</h1>
    <div class="container">
        <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
            <br/>
            <input type="button" class="button" onclick="document.location.href='/d_doctor_view';" value="View my data"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/d_doctor_update';" value="Update my data"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/d_patients_view';" value="View patients"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/d_patient_registration';" value="Register a patient"><br>
            <br>
            <input type="button" class="button" onclick="document.location.href='/patient_update';" value="Update a patient"><br>
            <br />
    </div>
</body>
</html>