<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Patient Monitoring</title>
    <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style= "text-align: center;">Patient Monitoring - Login</h1>
    <div class="container">
        <p style="text-align: center;">
            <input type="button" class="button" onclick="document.location.href='/admin_login';" value="Login as admin"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/doctor_login';" value="Login as doctor"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/patient_login';" value="Login as patient"><br>
    </div>
</body>
</html>