<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>iCare</title>
    <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style= "text-align: center;">iCare</h1>
    <div class="container">
        <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
            <br/>
            <input type="button" class="button" onclick="document.location.href='/view';" value="View"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/registration';" value="Register"><br>
            <br>
            <input type="button" class="button" onclick="document.location.href='/update';" value="Update"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/delete';" value="Delete"><br>
            <br />
    </div>
</body>
</html>