<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>iCare - Patients Data</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body onLoad="sendGETrequest()">

        <h1 style="text-align: center;">iCare - Patients Data</h1>
        <div class="container_table">
            <p style="text-align: center;">
                <input type="button" onclick="document.location.href='/admin_index';" value="Index"><br></p>
                <table class="table">
                    <thead>
                       <tr>
                          <th scope="col">Name</th>
                          <th scope="col">UserID</th>
                          <th scope="col">Telegram ID</th>
                          <th scope="col">ThingSpeak Channel ID</th>
                          <th scope="col">ThingSpeak read-key</th>
                          <th scope="col">ThingSpeak write-key</th>
                       </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
        </div>
        <script>
                function sendGETrequest(){
                    event.preventDefault();
                    myurl = "/api/patients"; 
                    $.ajax({
                        method: "GET",
                        url: myurl,
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            updateTable(response);
                        }
                    });
                };
                function updateTable(data) {
                    updatedTableBody = "";
                    for (var i = 0; i < data.patients.length; i++) {
                    updatedTableBody += "<tr>";
                    patient = data.patients[i]
                    updatedTableBody +=
                                    "<td>"+
                                    patient.name+
                                    "</td>"+
                                    "<td>"+
                                    patient.userID+
                                    "</td>"+
                                    "<td>"+
                                    patient.telegramID+
                                    "</td>"+
                                    "<td>"+
                                    patient.thingspeak_chID+
                                    "</td>"+
                                    "<td>"+
                                    patient.thingSpeak_rkey+
                                    "</td>"+
                                    "<td>"+
                                    patient.thingSpeak_wkey+
                                    "</td>";
                    updatedTableBody += "</tr>";
                    $("#tableBody").html(updatedTableBody);
                }}
        </script>

    </body>
</html>
