<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Patient Monitoring - Devices Data</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body onLoad="sendGETrequest()">

        <h1 style="text-align: center;">Patient Monitoring - Devices Data</h1>
        <div class="container_table">
            <p style="text-align: center;">
                <input type="button" onclick="document.location.href='/admin_index';" value="Index"><br></p>
                <table class="table">
                    <thead>
                       <tr>
                        <th scope="col">Name</th>
                        <th scope="col">deviceID</th>
                        <th scope="col">Measure Type</th>
                        <th scope="col">Available Services</th>
                       </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
        </div>
        <script>
                function sendGETrequest(){
                    event.preventDefault();
                    myurl = "/api/devices"; 
                    $.ajax({
                        method: "GET",
                        url: myurl,
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            updateTable(response);
                        }
                    });
                };
                function updateTable(data) {
                    updatedTableBody = "";
                    for (var i = 0; i < data.devices.length; i++) {
                    updatedTableBody += "<tr>";
                    device = data.devices[i]
                    updatedTableBody +=
                    "<td>" +
                            device.deviceID +
                            "</td>" +
                            "<td>" +
                            device.deviceName +
                            "</td>" +
                            "<td>" +
                            device.measureType +
                            "</td>" +
                            "<td>" +
                            device.availableServices +
                            "</td>";
                    updatedTableBody += "</tr>";
                    $("#tableBody").html(updatedTableBody);
                }}
        </script>

    </body>
</html>
