<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>iCare - Doctor Data</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body>

        <h1 style="text-align: center;">iCare - Doctor Data</h1>
        <div class="container_table">
            <p style="text-align: center;">
                <input type="button" onclick="document.location.href='/admin_index';" value="Index"><br></p>
                <span class="details">If you want to see all of them:</span>
                <input type="button" onclick="document.location.href='/all_doctors';" value="All"><br></p>
                <form onsubmit="sendGETrequest()" >    
                    <div class="user_info">
                        <span class="details">Insert UserID of the doctor you want to view:</span>
                        <input type="text" id="userID" required>
                        <input type="submit" value="Submit">
                    </div>
                </form>

                <table class="table">
                    <thead>
                       <tr>
                          <th scope="col">Name</th>
                          <th scope="col">UserID</th>
                          <th scope="col">Telegram ID</th>
                       </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
                <br><h3>Patients</h3></br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">UserID</th>
                            <th scope="col">Telegram ID</th>
                            <th scope="col">ThingSpeak Channel ID</th>
                            <th scope="col">ThingSpeak read-key</th>
                            <th scope="col">ThingSpeak write-key</th>
                         </tr>
                    </thead>
                    <tbody id="tableBody2">
                    </tbody>
                 </table>
        </div>
        <script>
                function sendGETrequest() {
                    event.preventDefault();
                    userID = $("#userID").val();
                    myurl = "/api/doctor/"+userID; 
                    $.ajax({
                        method: "GET",
                        url: myurl,
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            updateTable(response);
                        }
                    });
                }
                function updateTable(data) {
                    updatedTableBody = "";
                    updatedTableBody += "<tr>";
                    updatedTableBody +=
                                    "<td>"+
                                    data.name+
                                    "</td>"+
                                    "<td>"+
                                    data.userID+
                                    "</td>"+
                                    "<td>"+
                                    data.telegramID+
                                    "</td>";
                    updatedTableBody += "</tr>";
                    $("#tableBody").html(updatedTableBody);
                    updatedTableBody2 = "";
                    for (var i = 0; i < data.devicesList.length; i++) {
                        updatedTableBody2 += "<tr>";
                        patient = data.patientsList[i];
                        updatedTableBody2 +=
                                    "<td>"+
                                    patient.name+
                                    "</td>"+
                                    "<td>"+
                                    patient.userID+
                                    "</td>"+
                                    "<td>"+
                                    patient.telegramID+
                                    "</td>"+
                                    "<td>"+
                                    patient.thingspeak_chID+
                                    "</td>"+
                                    "<td>"+
                                    patient.thingSpeak_rkey+
                                    "</td>"+
                                    "<td>"+
                                    patient.thingSpeak_wkey+
                                    "</td>";
                        updatedTableBody2 += "</tr>";
                    }
                    $("#tableBody2").html(updatedTableBody2);
                }


        </script>

    </body>
</html>
