<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>iCare - Patient Register</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body>

        <h1 style="text-align: center;">iCare - Patient Registration</h1>
        <div class="container">
            <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/admin_index';" value="Admin index"><br></p>
                <form onsubmit="sendPOSTrequest()" >     
                    <div class="user_info">
                        <span class="details">Doctor UserID:</span>
                        <input type="text" id="docID" required>
                        <span class="details">Name:</span>
                        <input type="text" id="name" required>
                        <span class="details">UserID:</span>
                        <input type="text" id="userID" required>
                        <span class="details">Password:</span>
                        <input type="password" id="password" required>
                        <span class="details">Thingspeak Channel ID:</span>
                        <input type="text" id="thingspeak_chID" required>
                        <span class="details">Thingspeak write key:</span>
                        <input type="text" id="thingspeak_rkey" required>
                        <span class="details">Thingspeak read key:</span>
                        <input type="text" id="thingspeak_wkey" required>
                        <input type="submit" value="Submit">
                    </div>
                </form>
    </div>
    <script>
        function sendPOSTrequest() {
            docID =$("#docID").val();
            name = $("#name").val();
            userID = $("#userID").val();
            password = $("#password").val();
            telegramID = "";
            thingspeak_chID = $("#thingspeak_chID").val();
            thingspeak_rkey = $("#thingspeak_rkey").val();
            thingspeak_wkey = $("#thingspeak_wkey").val();
            devicesList = [];
            myurl = "/api/patient/"+docID; 
            $.ajax({
                method: "POST",
                url: myurl,
                contentType: "application/json",
                data: JSON.stringify({
                    name : name,
                    userID: userID,
                    password: password,
                    telegramID: telegramID,
                    thingspeak_chID: thingspeak_chID,
                    thingspeak_rkey: thingspeak_rkey,
                    thingspeak_wkey: thingspeak_wkey,
                    devicesList: devicesList
                }),
                dataType: "json",
                complete: function (r) {
                    alert(r.responseText);
                    location.reload();
                }
            });
        }

</script>
    </body>
</html>
