<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>iCare</title>
    <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style= "text-align: center;">iCare - Patient Index</h1>
    <div class="container">
        <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
            <br/>
            <input type="button" class="button" onclick="document.location.href='/p_patient_view';" value="View my data"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/p_patient_update';" value="Update my data"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/p_devices_view';" value="View my devices"><br>
            <br />
            <input type="button" class="button" onclick="document.location.href='/p_device_registration';" value="Register new device"><br>
            <br>
            <input type="button" class="button" onclick="document.location.href='/device_update';" value="Update a device"><br>
            <br />
    </div>
</body>
</html>