<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Patient Monitoring</title>
    <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style= "text-align: center;">Patient Monitoring</h1>
    <div class="container">
        <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/admin_index';" value="Index"><br></p>
            <br />
            <input type="button" class="button" onclick="document.location.href='/patient_registration';" value="Register a new patient"><br>
            <br />
            <p style="text-align: center;">
            <input type="button" class="button" onclick="document.location.href='/doctor_registration';" value="Register a new doctor"><br>
            <br />
        <p style="text-align: center;">
            <input type="button" class="button" onclick="document.location.href='/device_registration';" value="Register a new device"><br>
            <br />
        <p style="text-align: center;">
            <input type="button" class="button" onclick="document.location.href='/service_registration';" value="Register a new microservice"><br>
            <br />
    </div>
</body>
</html>