<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Patient Monitoring</title>
    <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style= "text-align: center;">Patient Monitoring</h1>
    <div class="container">
        <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
            <br />
            <input type="button" class="button" onclick="document.location.href='/user_delete';" value="Delete a user"><br>
            <br />
        <p style="text-align: center;">
            <input type="button" class="button" onclick="document.location.href='/device_delete';" value="Delete a device"><br>
            <br />
        <p style="text-align: center;">
            <input type="button" class="button" onclick="document.location.href='/service_delete';" value="Delete a microservice"><br>
            <br />
    </div>
</body>
</html>