<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Patient Monitoring - Doctor Registration</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body>

        <h1 style="text-align: center;">Patient Monitoring - Doctor Registration</h1>
        <div class="container">
            <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
                <form onsubmit="sendPOSTrequest()">
                    <div class="user_info">
                        <span class="details">UserID:</span>
                        <input type="text" name="userID" required>
                        <span class="details">Name:</span>
                        <input type="text" name="name" required>
                        <span class="details">Password:</span>
                        <input type="password" name="password" required>
                        <input type="submit">
                    </div>
                </form>
        </div>
        <script>
            function sendPOSTrequest() {
                event.preventDefault();
                userID = $("#userID").val();
                name = $("#name").val();
                password = $("#password").val();
                var myurl = "/api/device";  
                $.ajax({
                    method: "POST",
                    url: myurl,
                    contentType: "application/json",
                    data: JSON.stringify({
                        userID: userID,
                        name: name,
                        password: password,
                    }),
                    dataType: "json",
                    complete: function (r) {
                        alert(r.responseText)
                    },
                });
            }
    </script>
    </body>
</html>
