<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Patient Monitoring - Microservice Register</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body>

        <h1 style="text-align: center;">Patient Monitoring - Microservice Registration</h1>
        <div class="container">
            <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
                <form action="ms_post" method="POST">
                    <div class="user_info">
                        <span class="details">Name:</span>
                        <!--name will be the name of the variable given by input -->
                        <input type="text" name="name" required>
                        <span class="details">Endpoint:</span>
                        <input type="text" name="endpoint" required>
                        <span class="details">Protocol:</span>
                        <input type="text" name="protocol" required>
                        <input type="submit" value="Submit">
                    </div>
                </form>
    </body>
</html>
