<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Patient Monitoring - Device Register</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body>

        <h1 style="text-align: center;">Patient Monitoring - Patient Updating</h1>
        <div class="container">
            <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
                <form onsubmit="sendPUTrequest()" >     
                    <div class="user_info">
                        <span class="details">UserID:</span>
                        <input type="text" name="userID" required>
                        <span class="details">Name:</span>
                        <input type="text" name="name" required>
                        <span class="details">Password:</span>
                        <input type="password" name="password" required>
                        <span class="details">ThingSpeak Channel ID:</span>
                        <input type="text" name="thingSpeak_chID" required>
                        <span class="details">ThingSpeak write key:</span>
                        <input type="text" name="thingSpeak_rkey" required>
                        <span class="details">ThingSpeak read key:</span>
                        <input type="text" name="thingSpeak_wkey" required>
                        <input type="submit">
                    </div>
                </form>
        </div>
        <script>
                function sendPUTrequest() {
                    name = $("#name").val();
                    userID = $("#userID").val();
                    password = $("#password").val();
                    thingspeak_chID = $("thingspeak_chID").val();
                    thingSpeak_rkey = $("thingSpeak_rkey").val();
                    thingSpeak_wkey = $("thingSpeak_wkey").val();
                    var myurl = "/api/user"; 
                    $.ajax({
                        method: "PUT",
                        url: myurl,
                        contentType: "application/json",
                        data: JSON.stringify({
                            userID: userID,
                            password: password,
                            thingspeak_chID: thingspeak_chID,
                            thingSpeak_rkey: thingSpeak_rkey,
                            thingSpeak_wkey: thingSpeak_wkey
                        }),
                        dataType: "json",
                        complete: function (r) {
                            alert(r.responseText)
                        }
                    });
                }

        </script>

    </body>
</html>
