<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Patient Monitoring - Patient Register</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body>

        <h1 style="text-align: center;">Patient Monitoring - Microservice Registration</h1>
        <div class="container">
            <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
                <form onsubmit="sendPUTrequest()" >     
                    <div class="user_info">
                        <span class="details">Name:</span>
                        <input type="text" name="name" required>
                        <span class="details">Endpoint:</span>
                        <input type="text" name="endpoint" required>
                        <span class="details">Protocol:</span>
                        <input type="text" name="protocol" required>
                        <input type="submit">
                    </div>
                </form>
    </div>
    <script>
        function sendPUTrequest() {
            name = $("#name").val();
            endpoint = $("#endpoint").val();
            protocol = $("#protocol").val();
            var myurl = "/api/microservice"; 
            $.ajax({
                method: "PUT",
                url: myurl,
                contentType: "application/json",
                data: JSON.stringify({
                    name: name,
                    endpoint: endpoipnt,
                    protocol: protocol
                }),
                dataType: "json",
                complete: function (r) {
                    alert(r.responseText)
                }
            });
        }

</script>
    </body>
</html>
