<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Patient Monitoring - Device Register</title>
        <link rel="shortcut icon" type="image/png" href="/img/healthcare.png">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body>

        <h1 style="text-align: center;">Patient Monitoring - User Deletion</h1>
        <div class="container">
            <p style="text-align: center;">
            <input type="button" onclick="document.location.href='/';" value="Homepage"><br></p>
                <form onsubmit="sendDELrequest()" >    
                    <div class="user_info">
                        <span class="details">Insert UserID of the user you want to delete:</span>
                        <input type="text" id="userID" required>
                        <input type="submit">
                    </div>
                </form>
        </div>
        <script>
                function sendDELrequest() {
                    userID = $("#userID").val();
                    var myurl = "/api/user/"+userID; 
                    $.ajax({
                        method: "DELETE",
                        url: myurl,
                        complete: function (r) {
                            alert(r.responseText)
                        },
                    });
                }
        </script>

    </body>
</html>
